extends common

block content
  .site-notice react native / cordova #{__('hot update server')}
  h1(style="text-align: center;")= title
  p(style="text-align: center;") Welcome to #{title}
  .site-notice
    a.btn.btn-primary(href="/tokens" type="button") #{__('Obtain')} token
    a.btn.btn-primary.col-md-offset-1(href="/auth/password" type="button") #{__('Change Password')}
    a#logoutBtn.btn.btn-primary.col-md-offset-1(href="#" type="button") #{__('Logout')}

block js
  script().
    ensureLogin();

    $('#logoutBtn').on('click', logout);
